
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://fab-admin-templates.multipurposethemes.com/fab-admin/images/favicon.ico">

    <title>Broadtrademining </title>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Bootstrap extend-->
    <link rel="stylesheet" href="css/bootstrap-extend.css">

    <!-- theme style -->
    <link rel="stylesheet" href="css/master_style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0-2/css/all.min.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Fab Admin skins -->
    <link rel="stylesheet" href="css/_all-skins.css">
    <!-- This is data table -->
    <link href="css/datatables.min.css" rel="stylesheet" type="text/css" />
    <!--amcharts -->
    <link href="www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '7741f783edebc6da907fb30246a8d6114c53034f';
    window.smartsupp || (function(d) {
        var s, c, o = smartsupp = function() {
            o._.push(arguments)
        };
        o._ = [];
        s = d.getElementsByTagName('script')[0];
        c = d.createElement('script');
        c.type = 'text/javascript';
        c.charset = 'utf-8';
        c.async = true;
        c.src = 'https://www.smartsuppchat.com/loader.js?';
        s.parentNode.insertBefore(c, s);
    })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
        }, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="dashboard.html" class="logo">
                <!-- mini logo -->
                <b class="logo-mini">
                    <h5 class="card-text"><b>Broadtrademining </b></h5>
                    <!-- <span class="light-logo"><img src="images/logo-light.png" alt="logo"></span> -->
                    <!-- <span class="dark-logo"><img src="images/logo-dark.png" alt="logo"></span> -->
                </b>
                <!-- logo-->
                <span class="logo-lg">
                    <!-- <h4 class="card-text">SMT</h4> -->
                    <!-- <img src="images/logo-light-text.png" alt="logo" class="light-logo"> -->
                    <!-- <img src="images/logo-dark-text.png" alt="logo" class="dark-logo"> -->
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <div>
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                </div>
                <div class="navbar-custom-menu r-side">
                    <ul class="nav navbar-nav ">

                        <!-- User Account-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-user text-white"></i>
                            </a>
                            <ul class="dropdown-menu scale-up">

                                <!-- User image -->
                                <li class="user-header">
                                    <i class="fas fa-user fa-3x text-warning"></i>

                                </li>
                                <!-- Menu Body -->
                                SuperAdmin                                <li class="user-body">


                                    <div class="row no-gutters">

                                        <div role="separator" class="divider col-12"></div>
                                        <div class="col-12 text-left">
                                            <a href="account.php"><i class="ti-settings"></i> Account Setting</a>
                                        </div>
                                        <div role="separator" class="divider col-12"></div>
                                        <div class="col-12 text-left">
                                            <a href="logout.php"><i class="fa fa-power-off"></i> Logout</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar-->
            <section class="sidebar">



                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <a href="/super-dashboard">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </a>
                    </li>
                    <li class="treeviews">
                        <a href="admin_btc.html">
                            <i class="fa fa-user"></i>
                            <span>Add BTC Address</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Control Panel
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Userlist</li>
        </ol>
    </section>


    <!-- Main content -->
    <section class="content bg-dark">

        <div class="row">
            <div class="col-lg-9 col-12">
                
                <% for(var i=0; i < users.length; i++) { %>
             
                <div class="box">
                    <div class="media-list media-list-divided media-list-hover">

                        <div class="media align-items-center">

                            <span class="badge badge-dot badge-warning"></span>

                            <a class="avatar avatar-lg" href="#">
                                <i class="fas fa-user fa-3x text-info"></i>
                            </a>



                            <div class="media-body">
                                <p>
                                    <a href="#"><strong><%= users[i].fullname %></strong></a>
                                </p>
                                <p><%= users[i].fullname %></p>
                                <p>Verified?: <%= users[i].verified %></p>
                            </div>

                            <div class="media-right gap-items">
                                <a class="media-action lead" href="#" data-toggle="tooltip" title="Orders"><i
                                        class="ti-shopping-cart"></i></a>
                                <a class="media-action lead" href="#" data-toggle="tooltip" title="Receipts"><i
                                        class="ti-receipt"></i></a>
                                <div class="btn-group">
                                    <a class="media-action lead" href="#" data-toggle="dropdown"><i
                                            class="ion-android-more-vertical"></i>Action</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/profile?id=<%= users[i]._id %>"><i
                                                class="fa fa-fw fa-user"></i> Edit</a>
                                        <div class="dropdown-divider"></div>
                                        
                                        <form action="/user", method="post">
                                            <input type="hidden" name="id" value=<%= users[i]._id %>>
                                            <button class="dropdown-item" type="submit"><i
                                                class="fa fa-fw fa-remove"></i> Remove</button>
                                        </form>
                                        
                                                                            </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <%  } %>

            </div>

        </div>

        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
    </div>
    &copy; 2024 <a href="#">Broadtrademining </a>. All Rights Reserved.
</footer>
</div>
<!-- ./wrapper -->

<!-- fund account modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Make A New Deposit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="">Amount(USD)</label>
                        <input type="number" required name="amount" class="form-control">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="mode">
                            <option>BTC</option>
                            <option>Ethereum</option>
                            <option>Litecoin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-info mr-auto"> Proceed</button>
                        <button type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
<!-- fund account modal ends here -->




<!-- jQuery 3 -->
<script src="js/jquery-3.3.1.js"></script>

<!-- popper -->
<script src="js/popper.min.js"></script>

<!-- Bootstrap 4.0-->
<script src="js/bootstrap.js"></script>

<!-- webticker -->
<script src="assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>

<!--amcharts charts -->
<script src="www.amcharts.com/lib/3/amcharts.js"></script>
<script src="www.amcharts.com/lib/3/serial.js"></script>
<script src="www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="www.amcharts.com/lib/3/themes/light.js"></script>

<!-- This is data table -->
<script src="js/datatables.min.js"></script>

<!-- Slimscroll -->
<script src="js/jquery.slimscroll.js"></script>

<!-- FastClick -->
<script src="js/fastclick.js"></script>


<!-- Fab Admin App -->
<script src="js/template.js"></script>

<!-- Fab Admin dashboard demo (This is only for demo purposes) -->
<script src="js/dashboard.js"></script>

<!-- Fab Admin for demo purposes -->
<script src="js/demo.js"></script>

</body>

</html>
</body>

</html>